In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
##Importo los datos correspondientes a la Data de cada línea de artículo dentro de los tickets de la fase 1 de la campaña
    #Pasamos de un Excel a un CSV
    
df  = pd.read_csv('Lineas_tkt1.csv' , sep= ";", encoding = 'latin-1')
df

,ticket_id,cliente_id,categoria_gelt,subcategoria,product_code,unit_price,total_price,quantity,label,shop_name,descripcion
0,2550015,1063748,Bebida sin alcohol,JUGOS LISTOS P/BEBER,"7,79074E+12","220,5",441,2,BEBIDA A BASE ARROZ Y PLÁTANO LA PINTA,CARREFOUR,"LA PINTA, Jugo Vegetal Plátano 1 Lt"
1,2552835,1051893,Bebida sin alcohol,JUGOS LISTOS P/BEBER,"7,79074E+12","200,45","400,9",2,BEBIDA A BASE ARROZ Y PLÁTANO LA PINTA,CARREFOUR,"LA PINTA, Jugo Vegetal Plátano 1 Lt"
2,2568063,1176129,Bebida sin alcohol,JUGOS LISTOS P/BEBER,"7,79074E+12","200,45","400,9",2,BEBIDA A BASE ARROZ Y PLÁTANO LA PINTA,CARREFOUR,"LA PINTA, Jugo Vegetal Plátano 1 Lt"
3,2572434,1146562,Bebida sin alcohol,JUGOS LISTOS P/BEBER,"7,79074E+12",1,"187,3",1,1A PINTA,COTO,"LA PINTA, Jugo Vegetal Plátano 1 Lt"
4,2576622,102182640,Bebida sin alcohol,JUGOS LISTOS P/BEBER,"7,79074E+12",218,218,1,LP JUGO,CHANGOMAS,"LA PINTA, Jugo Vegetal Plátano 1 Lt"
...,...,...,...,...,...,...,...,...,...,...,...
3634,2944726,1117976,Bebida sin alcohol,"AGUAS MINERALES, SODAS Y AGUAS POTABLES","7,79806E+12","206,61","206,61",1,AGUA DE MESA SIN GAS BIDON VILLA DEL SUR,CARREFOUR,VILLA DEL SUR NATURAL S/GAS 625...
3635,2944726,1117976,Bebida sin alcohol,"AGUAS MINERALES, SODAS Y AGUAS POTABLES","7,79806E+12","206,61","206,61",1,AGUA DE MESA SIN GAS BIDON VILLA DEL SUR,CARREFOUR,VILLA DEL SUR NATURAL S/GAS 625...
3636,3045455,102023527,Bebida sin alcohol,"AGUAS MINERALES, SODAS Y AGUAS POTABLES","7,79806E+12",1,2246,1,AGUA MINERAL SIN GAS VILLA DEL SUR BID 6.25 LTR,COTO,VILLA DEL SUR NATURAL S/GAS 625...
3637,2701531,102178521,Bebida sin alcohol,"AGUAS MINERALES, SODAS Y AGUAS POTABLES","7,7909E+12","83,6","83,6",1,AGUA DE MESA SIN GAS BENEDICTINO PET X 2,CARREFOUR,BENEDICTINO AGUA D MESA POT. S/GAS BOT. PLAST....
3638,2701612,102224475,Bebida sin alcohol,"AGUAS MINERALES, SODAS Y AGUAS POTABLES","7,7909E+12","83,6","83,6",1,AGUA DE MESA SIN GAS BENEDICTINO PET X 2,CARREFOUR,BENEDICTINO AGUA D MESA POT. S/GAS BOT. PLAST....

In [3]:
df.shape

#Corroboro que no se pierden valores en el pase de Excel a csv

(3639, 11)

In [4]:
#Encuentro mis datos de interes en este caso los jugos listos para beber correspondientes a todas las marcas para ver la competitividad del producto

df_ = df [df.subcategoria == 'JUGOS LISTOS P/BEBER']
df_.shape

(487, 11)

In [5]:
df_.label.unique()

#Veo cuales son las etiquetas que tinen los productos

array(['BEBIDA A BASE ARROZ Y PLÁTANO LA PINTA', '1A PINTA', 'LP JUGO',
       'LA PINTA', 'TA PINTA', 'BUDIDA A DASI ARROZ Y NARANJA LA SERENTS',
       'LP JUGO 2DA AL 70% LP J $-70.35', 'LP JUGO 20% DOLCA BANAN $100',
       'BEBIDA A BASE ARROZ Y NAPANA LA SERENIS',
       'LP JUGO 2DA AL 70% CELU $-50.47',
       'WBEBIDA A BASE ARROZ Y PLÁTANO LA PINTA', 'LA SERENISIKA',
       'BEBIDA A BASE ARROZ Y KARANDA A SERENIS',
       'BIBIDA A BASE ARROZ Y MARANJA LA SERENTS',
       'RERING A BASE ARROZ Y NARANJA LA SERENIS', 'â\x80¢ LA PINTA',
       'LP JUGO $89 TRAVIATA CR $-780', 'IS JUGO', '2000 201,0000',
       'BEBIDA A BASE PROZ Y MARAUA LA SERENIS', 'LP JUGO s',
       'BEBIDA A BASE ARROZ Y SANDÍA LA PINTA',
       '*BEBIDA A BASE ARROZ Y SANDÍA LA PINTA', 'LA SERENISIHA',
       'LP JUGO $109 PUREZA HAR $-240', 'LP JUGO 25% SILISOL $-122.33',
       '2S JUGO $169 CIF DETERG $-720', 'LP JUGO 2DA AL SOX CONS -92.50',
       'LP JUGO la Liviana La PINTA sa', '2,0000 201,0000',
       'LP JUGO 2DA AL 70% LP J $-140.70', '1',
       'BEBIDA A PASE AFFUZ Y MANZANA LA SERENIS', '7793913001822 1870',
       'LP JUDO', 'MOLTO JUG LI', '(PC) JUGO DE LIMON MENYO PET X 250 CC',
       '(PC) JUGO DE LIMON MENOYO PET X 250 CC',
       'JUGO C. CREC LIMONADA MEN/JEN CON STEVIA', 'MINE JGO LIM',
       'PETIT 1000', 'CEPITA ILT', 'CEPITA 1LT',
       'JUGO NARANJA CEPITA BOT 1000 CHO',
       'JUGO NATURAL 25 MANZANA CEPITA X 200 CC', 'CEPITA 1.5LT',
       'ADES 1LT', 'JUGO BASE SOJA DURAZNO ADES DURAZNO X 1', 'ADES ILT',
       'JUGO BASE SOJA FRUTAS TROPICAL ADES X 1', 'ADES ili v 24.6500',
       '2,0000 x 125,0000', 'JUGO BASE SOJA MANZANA ADES X 1 LT', 'TUTTI',
       'JUGO MULTIFRUTA TUTTI TTB 1000CMQ',
       'JUGO MULTIFRUTATUTTI TTB 200 CMQ',
       'HUGO MULTIFRUITATUTTI TTB 200 CMO'], dtype=object)

In [6]:
df_.label.value_counts()

#Veo la cantidad de productos segun la etiqueta

LA PINTA                                    125
BEBIDA A BASE ARROZ Y PLÁTANO LA PINTA      115
LP JUGO                                      92
BEBIDA A BASE ARROZ Y SANDÍA LA PINTA        88
CEPITA ILT                                    3
LP JUGO 2DA AL 70% LP J $-70.35               3
CEPITA 1.5LT                                  3
LA SERENISIKA                                 3
*BEBIDA A BASE ARROZ Y SANDÍA LA PINTA        2
LA SERENISIHA                                 2
MINE JGO LIM                                  2
ADES ILT                                      2
LP JUGO 2DA AL 70% LP J $-140.70              2
ADES 1LT                                      2
JUGO NATURAL 25 MANZANA CEPITA X 200 CC       1
LP JUGO la Liviana La PINTA sa                1
JUGO MULTIFRUTA TUTTI TTB 1000CMQ             1
LP JUGO s                                     1
2,0000 x 125,0000                             1
1                                             1
LP JUGO 25% SILISOL $-122.33                  1
LP JUGO 2DA AL 70% CELU $-50.47               1
BIBIDA A BASE ARROZ Y MARANJA LA SERENTS      1
MOLTO JUG LI                                  1
PETIT 1000                                    1
1A PINTA                                      1
7793913001822 1870                            1
TA PINTA                                      1
WBEBIDA A BASE ARROZ Y PLÁTANO LA PINTA       1
LP JUDO                                       1
â¢ LA PINTA                                  1
JUGO BASE SOJA FRUTAS TROPICAL ADES X 1       1
HUGO MULTIFRUITATUTTI TTB 200 CMO             1
BEBIDA A PASE AFFUZ Y MANZANA LA SERENIS      1
2000 201,0000                                 1
BEBIDA A BASE ARROZ Y NAPANA LA SERENIS       1
JUGO NARANJA CEPITA BOT 1000 CHO              1
BEBIDA A BASE ARROZ Y KARANDA A SERENIS       1
JUGO BASE SOJA MANZANA ADES X 1 LT            1
LP JUGO $89 TRAVIATA CR $-780                 1
JUGO MULTIFRUTATUTTI TTB 200 CMQ              1
ADES ili v 24.6500                            1
JUGO BASE SOJA DURAZNO ADES DURAZNO X 1       1
BUDIDA A DASI ARROZ Y NARANJA LA SERENTS      1
JUGO C. CREC LIMONADA MEN/JEN CON STEVIA      1
LP JUGO 2DA AL SOX CONS -92.50                1
RERING A BASE ARROZ Y NARANJA LA SERENIS      1
BEBIDA A BASE PROZ Y MARAUA LA SERENIS        1
IS JUGO                                       1
(PC) JUGO DE LIMON MENOYO PET X 250 CC        1
2S JUGO $169 CIF DETERG $-720                 1
CEPITA 1LT                                    1
2,0000 201,0000                               1
LP JUGO 20% DOLCA BANAN $100                  1
(PC) JUGO DE LIMON MENYO PET X 250 CC         1
TUTTI                                         1
LP JUGO $109 PUREZA HAR $-240                 1
Name: label, dtype: int64

In [7]:
df_.descripcion.unique()

#Veo cuales son las desctipciones de cada prodcuto

array(['LA PINTA, Jugo Vegetal Plátano 1 Lt',
       'LA PINTA, Jugo Vegetal Sandía 1 Lt',
       'MOLTO     JUGO  DE  LIMON     BOT.PLAST.    500 CC 7798138554023',
       'MENOYO              JUGO      BOT.PLAST.    250 CC 7790130000713',
       'CUARTO    CRECIENTE JUGO C/STEVIA LIMONA. 1500 CC BOT PLAS 7798083731210',
       'MINERVA   100 %     JUGO LIMONBOT.PLAST.    500 CCECO BOT. 7790070507341',
       'PETIT     CITRIC    NAR/MANGO/MARACUYA S/AZUCAR TET 1000ML 7798085681018',
       'CEPITA DEL VALLE  MULTIFRUTA TETRA 1000CC 7790895647123',
       'CEPITA    DEL VALLE NARANJA   TETRA         1000CC 7790895646560',
       'CEPITA    DEL VALLE NARANJA   BOT.PLAST.   1000 CC 7790895009815',
       'CEPITA    DEL VALLE JUGO      MANZANA       200 CCTETRA 7790895000720',
       'CEPITA    DEL VALLE JUGO      DURAZ.DEL.   1500 CCBOT.PLAST. 7790895641534',
       'CEPITA    DEL VALLE DURAZNO   BOT.PLAST.   1000 CC 7790895009846',
       'ADES      MULTI 10  VITAMINAS DURAZNO      1000 CCTETRA 7790895643828',
       'ADES      JUGO FRUTAS TROPICALES T.BRICK   1000 CC 7790895643866',
       'ADES      JUGO      NARANJA   TETRA        1000 CC 7790895643842',
       'ADES      JUGO      MANZANA   TETRA        1000 CC 7790895643835',
       'TUTTI NARANJA VALENCIA TETRA 1LT 7798290581486',
       'TUTTI               MULTIFRUTATETRA        1000 CC 7798290580120',
       'TUTTI               MULTIFRUTATETRA         200 CC 7798290580113'],
      dtype=object)

In [8]:
df_.descripcion.value_counts()

#Veo la cantidad de prodcutos segun la descripcion

LA PINTA, Jugo Vegetal Plátano 1 Lt                                           244
LA PINTA, Jugo Vegetal Sandía 1 Lt                                            214
ADES      JUGO FRUTAS TROPICALES T.BRICK   1000 CC 7790895643866                5
CEPITA    DEL VALLE JUGO      DURAZ.DEL.   1500 CCBOT.PLAST. 7790895641534      3
TUTTI               MULTIFRUTATETRA         200 CC 7798290580113                2
CEPITA    DEL VALLE DURAZNO   BOT.PLAST.   1000 CC 7790895009846                2
MINERVA   100 %     JUGO LIMONBOT.PLAST.    500 CCECO BOT. 7790070507341        2
MENOYO              JUGO      BOT.PLAST.    250 CC 7790130000713                2
ADES      MULTI 10  VITAMINAS DURAZNO      1000 CCTETRA 7790895643828           2
MOLTO     JUGO  DE  LIMON     BOT.PLAST.    500 CC 7798138554023                1
ADES      JUGO      MANZANA   TETRA        1000 CC 7790895643835                1
TUTTI               MULTIFRUTATETRA        1000 CC 7798290580120                1
CEPITA    DEL VALLE NARANJA   BOT.PLAST.   1000 CC 7790895009815                1
CEPITA DEL VALLE  MULTIFRUTA TETRA 1000CC 7790895647123                         1
PETIT     CITRIC    NAR/MANGO/MARACUYA S/AZUCAR TET 1000ML 7798085681018        1
TUTTI NARANJA VALENCIA TETRA 1LT 7798290581486                                  1
CEPITA    DEL VALLE JUGO      MANZANA       200 CCTETRA 7790895000720           1
CUARTO    CRECIENTE JUGO C/STEVIA LIMONA. 1500 CC BOT PLAS 7798083731210        1
ADES      JUGO      NARANJA   TETRA        1000 CC 7790895643842                1
CEPITA    DEL VALLE NARANJA   TETRA         1000CC 7790895646560                1
Name: descripcion, dtype: int64

In [9]:
print (df_[['cliente_id']].duplicated().sum())
df_2 = df_.loc[df_[['cliente_id']].duplicated()]
df_2.shape

#Encuentro cuales son los clientes que volvieron a comprar en el mismo periodo

188

(188, 11)

In [10]:
print (df_2.label.shape)
df_2.label.value_counts()

#Veo la cantidad de prodcutos segun la etiqueta

(188,)

BEBIDA A BASE ARROZ Y SANDÍA LA PINTA       51
LA PINTA                                    41
LP JUGO                                     31
BEBIDA A BASE ARROZ Y PLÁTANO LA PINTA      22
CEPITA 1.5LT                                 3
CEPITA ILT                                   3
LP JUGO 2DA AL 70% LP J $-70.35              2
LP JUGO 2DA AL 70% LP J $-140.70             2
ADES ILT                                     2
ADES 1LT                                     2
*BEBIDA A BASE ARROZ Y SANDÍA LA PINTA       2
MINE JGO LIM                                 2
ADES ili v 24.6500                           1
(PC) JUGO DE LIMON MENYO PET X 250 CC        1
JUGO NARANJA CEPITA BOT 1000 CHO             1
2,0000 x 125,0000                            1
CEPITA 1LT                                   1
HUGO MULTIFRUITATUTTI TTB 200 CMO            1
MOLTO JUG LI                                 1
BEBIDA A PASE AFFUZ Y MANZANA LA SERENIS     1
(PC) JUGO DE LIMON MENOYO PET X 250 CC       1
7793913001822 1870                           1
LP JUGO la Liviana La PINTA sa               1
PETIT 1000                                   1
TUTTI                                        1
JUGO MULTIFRUTATUTTI TTB 200 CMQ             1
LP JUDO                                      1
BEBIDA A BASE ARROZ Y KARANDA A SERENIS      1
TA PINTA                                     1
JUGO BASE SOJA DURAZNO ADES DURAZNO X 1      1
JUGO BASE SOJA MANZANA ADES X 1 LT           1
2,0000 201,0000                              1
LP JUGO 25% SILISOL $-122.33                 1
JUGO C. CREC LIMONADA MEN/JEN CON STEVIA     1
JUGO MULTIFRUTA TUTTI TTB 1000CMQ            1
JUGO BASE SOJA FRUTAS TROPICAL ADES X 1      1
JUGO NATURAL 25 MANZANA CEPITA X 200 CC      1
Name: label, dtype: int64

In [11]:
print (df_2.descripcion.shape)
df_2.descripcion.value_counts()

#Veo la cantidad de productos segun la descripcion

(188,)

LA PINTA, Jugo Vegetal Sandía 1 Lt                                            123
LA PINTA, Jugo Vegetal Plátano 1 Lt                                            36
ADES      JUGO FRUTAS TROPICALES T.BRICK   1000 CC 7790895643866                5
CEPITA    DEL VALLE JUGO      DURAZ.DEL.   1500 CCBOT.PLAST. 7790895641534      3
CEPITA    DEL VALLE DURAZNO   BOT.PLAST.   1000 CC 7790895009846                2
TUTTI               MULTIFRUTATETRA         200 CC 7798290580113                2
ADES      MULTI 10  VITAMINAS DURAZNO      1000 CCTETRA 7790895643828           2
MENOYO              JUGO      BOT.PLAST.    250 CC 7790130000713                2
MINERVA   100 %     JUGO LIMONBOT.PLAST.    500 CCECO BOT. 7790070507341        2
CEPITA    DEL VALLE NARANJA   BOT.PLAST.   1000 CC 7790895009815                1
TUTTI NARANJA VALENCIA TETRA 1LT 7798290581486                                  1
PETIT     CITRIC    NAR/MANGO/MARACUYA S/AZUCAR TET 1000ML 7798085681018        1
CEPITA DEL VALLE  MULTIFRUTA TETRA 1000CC 7790895647123                         1
CEPITA    DEL VALLE JUGO      MANZANA       200 CCTETRA 7790895000720           1
MOLTO     JUGO  DE  LIMON     BOT.PLAST.    500 CC 7798138554023                1
ADES      JUGO      MANZANA   TETRA        1000 CC 7790895643835                1
CUARTO    CRECIENTE JUGO C/STEVIA LIMONA. 1500 CC BOT PLAS 7798083731210        1
TUTTI               MULTIFRUTATETRA        1000 CC 7798290580120                1
ADES      JUGO      NARANJA   TETRA        1000 CC 7790895643842                1
CEPITA    DEL VALLE NARANJA   TETRA         1000CC 7790895646560                1
Name: descripcion, dtype: int64

In [12]:
df_2.duplicated().sum()

#Puedo ver que en una 3er instancia 8 personas volvieron a comprar en el mismo periodo

8

In [13]:
df_2.loc[df_2.duplicated()].descripcion.value_counts()

LA PINTA, Jugo Vegetal Sandía 1 Lt                                            4
CEPITA    DEL VALLE DURAZNO   BOT.PLAST.   1000 CC 7790895009846              1
LA PINTA, Jugo Vegetal Plátano 1 Lt                                           1
MINERVA   100 %     JUGO LIMONBOT.PLAST.    500 CCECO BOT. 7790070507341      1
CEPITA    DEL VALLE JUGO      DURAZ.DEL.   1500 CCBOT.PLAST. 7790895641534    1
Name: descripcion, dtype: int64

In [14]:
df_3 = df_2.drop_duplicates()
df_3.duplicated().sum()

#No necesito volver a analizar si existen duplicados

0

In [15]:
df_q = df.groupby(['cliente_id', 'descripcion', 'quantity'] , as_index=False).sum()[['cliente_id', 'descripcion', 'quantity']]

#Analizo que cantidad de prodcutos compra cada usuario

In [16]:
df_q2 = df_q.loc[df_q.descripcion == 'LA PINTA, Jugo Vegetal Sandía 1 Lt']
df_q2

#Analizo para el sabor Sandia

      cliente_id                         descripcion  quantity
2        1019202  LA PINTA, Jugo Vegetal Sandía 1 Lt         1
28       1021254  LA PINTA, Jugo Vegetal Sandía 1 Lt         2
62       1023163  LA PINTA, Jugo Vegetal Sandía 1 Lt         1
69       1025990  LA PINTA, Jugo Vegetal Sandía 1 Lt         2
77       1029892  LA PINTA, Jugo Vegetal Sandía 1 Lt         1
...          ...                                 ...       ...
3108   102526066  LA PINTA, Jugo Vegetal Sandía 1 Lt         2
3118   102528640  LA PINTA, Jugo Vegetal Sandía 1 Lt         1
3130   102540784  LA PINTA, Jugo Vegetal Sandía 1 Lt         1
3154   102545236  LA PINTA, Jugo Vegetal Sandía 1 Lt         1
3166   102552526  LA PINTA, Jugo Vegetal Sandía 1 Lt         2

[183 rows x 3 columns]

In [17]:
df_q2 = df_q2.reset_index(drop = True)
df_q2.quantity.values

array([  1,   2,   1,   2,   1,   1,   1,   2,   1,   2,   1,   1,   1,
         2,   2,   1,   1,   1,   1,   1,  11,   1,   2,   1,   1,   2,
         1,   1,   1,   1,   2,   2,   1,   1,   1,   2,   1,   1,   1,
         2,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   2,   1,
         1,   1,   1,   2,   1,   2,   2,   1,   1,   1,   1,   1,   1,
         1,   2,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,
         2,   1,   1,   2,   1,   2,   1,   1,   1,   2,   1,   1,   1,
         2,   2,   1,   1,   2,   1,   1,   2,   1,   2,   1,   1,   1,
         1,   1,   1,   1,   1,   1,   1,   2,   1, 891,   1,   1,   1,
         1,   2,   2,   1,   2,   2,   2,   2,   2,   2,   2,   1,   2,
         1,   1,   2,   1,   2,   1,   2,   1,   1,   1,   1,   2,   1,
         1,   2,   2,   1,   1,   1,   2,   2,   2,   1,   1,   1,   2,
         1,   2,   1,   1,   1,   1,   1,   2,   1,   1,   1,   1,   1,
         1,   1,   1,   2,   1,   1,   1,   1,   2,   2,   1,   1,   1,
         2], dtype=int64)

In [18]:
df_q2.quantity.value_counts()

#Puedo identificar valores extraños

1      128
2       53
891      1
11       1
Name: quantity, dtype: int64

In [19]:
print (df_q2[df_q2.quantity == 891])
print (df_q2[df_q2.quantity == 11])

     cliente_id                         descripcion  quantity
113   101936783  LA PINTA, Jugo Vegetal Sandía 1 Lt       891
    cliente_id                         descripcion  quantity
20     1050434  LA PINTA, Jugo Vegetal Sandía 1 Lt        11

In [20]:
df_q3 = df_q.loc[df_q.descripcion == 'LA PINTA, Jugo Vegetal Plátano 1 Lt']
df_q3

#Analizo para el sabor Platano

      cliente_id                          descripcion  quantity
12       1019362  LA PINTA, Jugo Vegetal Plátano 1 Lt         1
19       1019685  LA PINTA, Jugo Vegetal Plátano 1 Lt         1
22       1020725  LA PINTA, Jugo Vegetal Plátano 1 Lt         2
23       1021133  LA PINTA, Jugo Vegetal Plátano 1 Lt         2
27       1021254  LA PINTA, Jugo Vegetal Plátano 1 Lt         1
...          ...                                  ...       ...
3081   102512890  LA PINTA, Jugo Vegetal Plátano 1 Lt         1
3096   102515245  LA PINTA, Jugo Vegetal Plátano 1 Lt         2
3107   102526066  LA PINTA, Jugo Vegetal Plátano 1 Lt         2
3122   102535921  LA PINTA, Jugo Vegetal Plátano 1 Lt         1
3174   102556849  LA PINTA, Jugo Vegetal Plátano 1 Lt         1

[212 rows x 3 columns]

In [21]:
df_q3 = df_q3.reset_index(drop = True)
df_q3.quantity.value_counts()

1      146
2       64
201      1
11       1
Name: quantity, dtype: int64

In [22]:
df_q3.quantity.values

array([  1,   1,   2,   2,   1,   1,   1,   2,   1,   1,   1,   1,   1,
         2,   2,   1,   1,   1,   1,   1,   1,   2,   2,   1,   1,   2,
         2,   1,   1,   1,  11,   2,   1,   1,   2,   1,   2,   2,   2,
         1,   2,   1,   1,   1,   2,   1,   1,   1,   1,   2,   1,   1,
         1,   1,   1,   1,   2,   1,   1,   1,   2,   1,   1,   1,   1,
         2,   2,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,
         1,   1,   1,   2,   2,   1,   1,   1,   1,   2,   1,   1,   1,
         1,   2,   1,   1,   1,   1,   1,   1,   2,   2,   2,   1,   1,
         1,   1,   1,   1,   2,   2,   2,   1,   1,   2,   2,   2,   1,
         1,   1,   2,   1,   1,   1,   1,   1,   1,   1,   1,   1,   2,
         2,   2,   1,   1,   1,   1,   1,   2,   1,   2,   1,   2,   1,
         1,   2,   1,   1,   2,   2,   2,   2,   2,   2,   1,   1,   1,
         2,   2,   1,   2,   1,   2,   2,   1,   2,   1,   1, 201,   1,
         1,   1,   2,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,
         2,   1,   1,   2,   1,   1,   1,   1,   1,   1,   1,   2,   1,
         1,   2,   1,   1,   2,   1,   2,   1,   1,   1,   2,   1,   1,
         2,   2,   1,   1], dtype=int64)

In [23]:
print (df_q3[df_q3.quantity == 201])
print (df_q3[df_q3.quantity == 11])

#Puedo identificar valores extraños

     cliente_id                          descripcion  quantity
167   102132654  LA PINTA, Jugo Vegetal Plátano 1 Lt       201
    cliente_id                          descripcion  quantity
30     1050434  LA PINTA, Jugo Vegetal Plátano 1 Lt        11