In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
##Importo los datos correspondientes a la Data de cada línea de artículo dentro de los tickets de la fase 1 de la campaña
    #Pasamos de un Excel a un CSV
    
df = pd.read_csv('Lineas_tkt2.csv', sep = ';' , encoding = 'latin-1')
df

,ticket_id,cliente_id,categoria_gelt,subcategoria,product_code,unit_price,total_price,quantity,label,shop_name,descripcion
0,3319357,1054305,Bebida sin alcohol,"AGUAS MINERALES, SODAS Y AGUAS POTABLES","7,79806E+12",1,"79,59",1,AGUA SER,COTO,SER MINERAL S/GAS BOT. PLAST. 2.25LT 779806254...
1,3445282,102030325,Bebida sin alcohol,"AGUAS MINERALES, SODAS Y AGUAS POTABLES","7,79806E+12",1,"83,97",1,EAGUA SER,COTO,SER MINERAL S/GAS BOT. PLAST. 2.25LT 779806254...
2,3249058,1079760,Bebida sin alcohol,"AGUAS MINERALES, SODAS Y AGUAS POTABLES","7,79806E+12","83,97","83,97",1,AGUA MINERAL SIN GAS SER SIN TACC X 2.25,CARREFOUR,SER MINERAL S/GAS BOT. PLAST. 2.25LT 779806254...
3,3799993,102709717,Bebida sin alcohol,"AGUAS MINERALES, SODAS Y AGUAS POTABLES","7,79806E+12",96,192,2,AGUA MINERAL SIN GAS VILLA DEL SUR PET X,CARREFOUR,VILLA DEL SUR NATURAL NO GASIFI.2250 C...
4,3409627,1052951,Bebida sin alcohol,"AGUAS MINERALES, SODAS Y AGUAS POTABLES","7,79806E+12",2,"463,8",2,AGUA MINERAL SIN GAS VILLADEL SUR BID 6.25 LTR,COTO,VILLA DEL SUR NATURAL S/GAS 625...
...,...,...,...,...,...,...,...,...,...,...,...
4915,3858652,101966821,Bebida sin alcohol,JUGOS LISTOS P/BEBER,"7,79074E+12",202,404,2,BEBIDA A BASE ARROZ Y NARANJA LA SERENIS,CARREFOUR,"LA PINTA, Jugo Vegetal Plátano 1 Lt"
4916,3858652,101966821,Bebida sin alcohol,JUGOS LISTOS P/BEBER,"7,79074E+12",202,404,2,BEBIDA A BASE ARROZ Y NARANJA LA SERENIS,CARREFOUR,"LA PINTA, Jugo Vegetal Plátano 1 Lt"
4917,3856072,1032177,Bebida con alcohol,CERVEZAS,"7,7928E+12","146,5",293,2,CERVEZA BLANCA QUILMES DOBLE MALTA LATA,CARREFOUR,QUILMES DOBLE MALTA 410 CC
4918,3803143,101923631,Bebida con alcohol,CERVEZAS,"7,7928E+12","125,8","125,8",1,CERVEZA BLANCA QUILMES DOBLE MALTA LATA,CARREFOUR,QUILMES DOBLE MALTA 410 CC
4919,3470422,102087747,Bebida con alcohol,CERVEZAS,"7,7928E+11",216,216,1,CERV.DOB MALTA LA,LA ANONIMA,QUILMES DOBLE MALTA 410 CC

In [3]:
df.shape

#Corroboro que no se pierden valores en el pase de Excel a csv

(4920, 11)

In [4]:
#Encuentro mis datos de interes en este caso los jugos listos para beber correspondientes a todas las marcas para ver la competitividad del producto

df_ = df [df.subcategoria == 'JUGOS LISTOS P/BEBER']
df_.shape

(712, 11)

In [5]:
df_.label.unique()

#Veo cuales son las etiquetas que tinen los productos

array(['(PC) JUGO MANZANA TUTTI TETRA X200 CC',
       '(PC) JUGO NARANJA TUTTI TETRA X200 CC',
       '--JUGO NARANJA TUTTITTB 200 CMQ',
       'JUGO SOJA ADESMANZANA TTB 1 LT',
       'JUGO BASE SOJA MANZANA ADES X 11',
       'JUGO NATURAL DURAZNO DELICIOSO HF CEPITA',
       'JUGO NATURAL DURAZNO DELICIOSO CEPITA PE',
       'JUGO CEPITA MANZANATTB 200 CC',
       'JUGO NATURAL 25 MANZANA CEPITA X 200 CC',
       'JUGO NATURAL 25 MULTIFRUTAL CEPITA X 200',
       'JUGO CEPITA MULTIFRUTATTB 200 CC',
       'JUGO CEPITA MULTIFRUTA TTB 200 CC',
       'JUGO NATURAL NARANJA S AZUCAR CEPITA PET', 'CEPITA 1 5LT',
       'JUGO NATURAL NARANJA CEPITA X 200 CC', 'CEPITA 0.2LT',
       'JUGO CEPITA NARANJA TTB 200 CC',
       'JUGO NATURAL NARANJA TENTACION HF CEPITA',
       'JUGO NARANJA CEPITA BOT 1000 CMO',
       'JUGO NATURAL NARANJA ZINC CEPITA X 1 LT',
       'JUGO NATURAL MANZANA ZINC CEPITA X 1 LT', 'JUGO PETIT 1LTR',
       'JUGO PETIT ILTR', 'PETIT 1000CC',
       'JUGO DE LIMON MINERVAPET 250 CC',
       '(PC) JUGO DE LIMON MINERVA PET X 500 CC',
       'JUGO DE LIMON MINERVA PET X 1 LT',
       '(PC) JUGO NATURAL MULTIFRUTA DEL VALLE X',
       '(PC) JUGO NATURAL MANZANA DEL VALLE X 20', 'DEL VALLE MU',
       'DEL VALLE NA', 'JUGOS GERGAL',
       'JUGO ORGANICO LIMON MENTA LAS BRISAS X 5',
       'JUGO DE LIMON SILVA LINEA GOURMET X 500',
       'BEBIDA A BASE ARROZ Y MANZANA LA SERENIS', 'LP JUCO', 'LP JUGO',
       'LA PINTA', 'VBEBIDA A BASE ARROZ Y MANZANA LA SERENIS',
       'BEBIDA A BASE ARROZ Y MANGANA LA SERENIS', 'LA SERENISINA',
       'DEBIDA A BASE ARROZ Y MANZANA LA SERENIS',
       'BEBIDA A BASE ARROZ Y MANZANA LA SERENTS',
       'LP JUGO 40 NESQUIK CAO -303,20',
       'BEBIDA A BASE ARROL Y MANZANA LA SERENIS', '2,0000 x 201,0000',
       'LA PINTA 374,60', 'X BEBIDA A BASE ARROZ Y MANZANA LA SERENIS',
       'LP JUGO 107.00', 'LP JUGO 35% ZIPLOC BOLP $-94.50', 'TA PINTA',
       'LA SERENISTA', 'LP JLGO', 'U SEREXISIMA', 'LA SERENISIHA',
       'A PINTA', 'LA SERENTSIMA', 'LA SERENISIKA', 'LA SERENISI',
       'BEBIDA A BASE ARROZ Y NARANJA LA SERENIS', 'LA SERENISTHA',
       '2,000 X 187,30', 'LP JUGO $99 PAN RALL CO $-51.00', 'IA PINTA',
       'LA SERENISTMA', 'st', 'BEBIDA A BASE ARROZ Y RANUA LA SERENIS',
       'BEBIDA A BASE ARROZ Y BANJA LA SERENTS', '7791720003381 402.00',
       'NABEBIDA A BASE ARROZ Y NAIJA LA SERENIS',
       'BEBIDA A BASE APROZ Y NARANJA LA SERENIS',
       'O BEBIDA A BASE ARROZ Y NARANJA LA SERENIS',
       'BEBIDA A BASE ARROZ Y NARANJA LA SERENTS',
       'BEBIDA A BASE ARROZ Y NARANJA LA SERENIS X',
       'BEBIDA A BASE ARROZ V NARANJA LA SERENIS',
       'LP JUGO 25% CITRIC NARA $-94.75', 'ZORRO AB', '701 191.10',
       'LP JUGO PROMO ANSES Y J $-51.29',
       'BEBIDA A BASE ARROZ Y PARA LA SERE IS', 'LU Vuuu',
       'BEB.A BASE D/ARROZ C/JUGOD/NARANJA LA SERENISI T',
       'BEBIDA BASE ARROZ Y NARANJA LA SERENIS'], dtype=object)

In [6]:
df_.label.value_counts()

#Veo la cantidad de productos segun la etiqueta

LA PINTA                                     190
BEBIDA A BASE ARROZ Y NARANJA LA SERENIS     159
BEBIDA A BASE ARROZ Y MANZANA LA SERENIS     157
LP JUGO                                      106
LA SERENISINA                                  5
                                            ...
VBEBIDA A BASE ARROZ Y MANZANA LA SERENIS      1
JUGO SOJA ADESMANZANA TTB 1 LT                 1
BEBIDA BASE ARROZ Y NARANJA LA SERENIS         1
JUGO NATURAL NARANJA TENTACION HF CEPITA       1
BEBIDA A BASE ARROZ Y MANGANA LA SERENIS       1
Name: label, Length: 83, dtype: int64

In [7]:
df_.descripcion.unique()

#Veo cuales son las desctipciones de cada prodcuto

array(['TUTTI               MANZANA   TETRA         200 CC 7798290580083',
       'TUTTI               NARANJA   TETRA         200 CC 7798290580052',
       'ADES      JUGO      MANZANA   TETRA        1000 CC 7790895643835',
       'CEPITA    DEL VALLE DURAZNO   BOT.PLAST.   1000 CC 7790895009846',
       'CEPITA    DEL VALLE JUGO      DURAZ.DEL.   1500 CCBOT.PLAST. 7790895641534',
       'CEPITA    DEL VALLE JUGO      MANZANA       200 CCTETRA 7790895000720',
       'CEPITA    DEL VALLE JUGO      MULTIFRUTA    200 CCTETRA 7790895000737',
       'CEPITA    DEL VALLE JUGO      NAR.TENTA.    300 CCBOT.PLAST. 7790895642029',
       'CEPITA    DEL VALLE JUGO      NAR.TENTA.   1500 CCBOT.PLAST. 7790895641800',
       'CEPITA    DEL VALLE JUGO      NARANJA       200 CCTETRA 7790895641596',
       'CEPITA    DEL VALLE NARANJA   BOT.PLAST.   1000 CC 7790895009815',
       'CEPITA    DEL VALLE NARANJA   TETRA         1000CC 7790895646560',
       'CEPITA DEL VALLE  MANZANA TETRA 1000CC 7790895647017',
       'PETIT     CITRIC    NARANJA    TETRA     1000 ML 7798085681001',
       'MINERVA   100 %     JUGO LIMONBOT.PLAST.    250 CCECO BOT. 7790070507372',
       'MINERVA   100 %     JUGO LIMONBOT.PLAST.    500 CCECO BOT. 7790070507341',
       'MINERVA   JUGO      LIMON     PET          1000 CC 7790070507358',
       'DEL VALLE  MULTIFRUTA TETRA 200ML 7790154008351',
       'DEL VALLE JUGO DE MANZANA TETRA 200 ML. 7790154008368',
       'DEL VALLE JUGO MULTIFRUTA TETRA 1000ML 7790154008306',
       'DEL VALLE JUGO NARANJA TETRA 1000ML 7790154008283',
       'GERGAL    JUGO      MIX BERRIES BOT.PLAST.  500 CC 7796435006030',
       'LAS BRISASORGANICO  LIMONADA  BOT.VIDRIO   1000 CC 7798161720273',
       'SILVA JUGO LIMON BOT. PLAST. 500CC 7798142741242',
       'LA PINTA, Jugo Vegetal Sandía 1 Lt',
       'LA PINTA, Jugo Vegetal Plátano 1 Lt'], dtype=object)

In [8]:
df_.descripcion.value_counts()

#Veo la cantidad de prodcutos segun la descripcion

LA PINTA, Jugo Vegetal Sandía 1 Lt                                            341
LA PINTA, Jugo Vegetal Plátano 1 Lt                                           328
CEPITA    DEL VALLE JUGO      MULTIFRUTA    200 CCTETRA 7790895000737           7
CEPITA    DEL VALLE JUGO      NARANJA       200 CCTETRA 7790895641596           4
PETIT     CITRIC    NARANJA    TETRA     1000 ML 7798085681001                  3
TUTTI               NARANJA   TETRA         200 CC 7798290580052                2
DEL VALLE JUGO NARANJA TETRA 1000ML 7790154008283                               2
MINERVA   JUGO      LIMON     PET          1000 CC 7790070507358                2
CEPITA    DEL VALLE NARANJA   TETRA         1000CC 7790895646560                2
CEPITA    DEL VALLE JUGO      MANZANA       200 CCTETRA 7790895000720           2
CEPITA    DEL VALLE NARANJA   BOT.PLAST.   1000 CC 7790895009815                2
DEL VALLE JUGO MULTIFRUTA TETRA 1000ML 7790154008306                            2
ADES      JUGO      MANZANA   TETRA        1000 CC 7790895643835                2
TUTTI               MANZANA   TETRA         200 CC 7798290580083                1
GERGAL    JUGO      MIX BERRIES BOT.PLAST.  500 CC 7796435006030                1
CEPITA DEL VALLE  MANZANA TETRA 1000CC 7790895647017                            1
MINERVA   100 %     JUGO LIMONBOT.PLAST.    250 CCECO BOT. 7790070507372        1
CEPITA    DEL VALLE JUGO      DURAZ.DEL.   1500 CCBOT.PLAST. 7790895641534      1
DEL VALLE  MULTIFRUTA TETRA 200ML 7790154008351                                 1
DEL VALLE JUGO DE MANZANA TETRA 200 ML. 7790154008368                           1
LAS BRISASORGANICO  LIMONADA  BOT.VIDRIO   1000 CC 7798161720273                1
SILVA JUGO LIMON BOT. PLAST. 500CC 7798142741242                                1
CEPITA    DEL VALLE JUGO      NAR.TENTA.   1500 CCBOT.PLAST. 7790895641800      1
MINERVA   100 %     JUGO LIMONBOT.PLAST.    500 CCECO BOT. 7790070507341        1
CEPITA    DEL VALLE DURAZNO   BOT.PLAST.   1000 CC 7790895009846                1
CEPITA    DEL VALLE JUGO      NAR.TENTA.    300 CCBOT.PLAST. 7790895642029      1
Name: descripcion, dtype: int64

In [9]:
print (df_[['cliente_id']].duplicated().sum())
df_2 = df_.loc[df_[['cliente_id']].duplicated()]
df_2.shape

#Encuentro cuales son los clientes que volvieron a comprar en el mismo periodo

331

(331, 11)

In [10]:
print (df_2.label.shape)
df_2.label.value_counts()

#Veo la cantidad de prodcutos segun la etiqueta

(331,)

BEBIDA A BASE ARROZ Y NARANJA LA SERENIS      111
LA PINTA                                       95
LP JUGO                                        47
BEBIDA A BASE ARROZ Y MANZANA LA SERENIS       39
LA SERENISINA                                   4
LP JUGO $99 PAN RALL CO $-51.00                 2
DEL VALLE NA                                    2
LA SERENISIKA                                   2
BEBIDA A BASE ARROZ Y MANZANA LA SERENTS        1
U SEREXISIMA                                    1
LP JUGO 107.00                                  1
LP JUGO PROMO ANSES Y J $-51.29                 1
LU Vuuu                                         1
st                                              1
2,000 X 187,30                                  1
ZORRO AB                                        1
JUGO NATURAL NARANJA ZINC CEPITA X 1 LT         1
LA SERENISIHA                                   1
IA PINTA                                        1
JUGO PETIT ILTR                                 1
O BEBIDA A BASE ARROZ Y NARANJA LA SERENIS      1
JUGO DE LIMON MINERVA PET X 1 LT                1
(PC) JUGO NATURAL MANZANA DEL VALLE X 20        1
BEBIDA A BASE ARROZ V NARANJA LA SERENIS        1
701 191.10                                      1
LA PINTA 374,60                                 1
JUGO CEPITA MULTIFRUTATTB 200 CC                1
LA SERENISTA                                    1
DEL VALLE MU                                    1
(PC) JUGO NATURAL MULTIFRUTA DEL VALLE X        1
BEBIDA A BASE ARROZ Y NARANJA LA SERENTS        1
DEBIDA A BASE ARROZ Y MANZANA LA SERENIS        1
LA SERENISTMA                                   1
LP JUCO                                         1
BEBIDA A BASE ARROZ Y NARANJA LA SERENIS X      1
BEBIDA A BASE ARROZ Y RANUA LA SERENIS          1
LA SERENISI                                     1
Name: label, dtype: int64

In [11]:
print (df_2.descripcion.shape)
df_2.descripcion.value_counts()

#Veo la cantidad de productos segun la descripcion

(331,)

LA PINTA, Jugo Vegetal Plátano 1 Lt                                      230
LA PINTA, Jugo Vegetal Sandía 1 Lt                                        92
DEL VALLE JUGO NARANJA TETRA 1000ML 7790154008283                          2
DEL VALLE  MULTIFRUTA TETRA 200ML 7790154008351                            1
DEL VALLE JUGO DE MANZANA TETRA 200 ML. 7790154008368                      1
DEL VALLE JUGO MULTIFRUTA TETRA 1000ML 7790154008306                       1
MINERVA   JUGO      LIMON     PET          1000 CC 7790070507358           1
PETIT     CITRIC    NARANJA    TETRA     1000 ML 7798085681001             1
CEPITA    DEL VALLE JUGO      MULTIFRUTA    200 CCTETRA 7790895000737      1
CEPITA    DEL VALLE NARANJA   TETRA         1000CC 7790895646560           1
Name: descripcion, dtype: int64

In [12]:
df_2.duplicated().sum()

#Puedo ver que en una 3er instancia 35 personas volvieron a comprar en el mismo periodo

35

In [13]:
df_2.loc[df_2.duplicated()].descripcion.value_counts()

LA PINTA, Jugo Vegetal Plátano 1 Lt                  23
LA PINTA, Jugo Vegetal Sandía 1 Lt                   11
DEL VALLE JUGO NARANJA TETRA 1000ML 7790154008283     1
Name: descripcion, dtype: int64

In [14]:
df_3 = df_2.drop_duplicates()
df_3.duplicated().sum()

#No necesito volver a analizar si existen duplicados

0

In [15]:
df_q = df.groupby(['cliente_id', 'descripcion', 'quantity'] , as_index=False).sum()[['cliente_id', 'descripcion', 'quantity']]

#Analizo que cantidad de prodcutos compra cada usuario

In [16]:
df_q2 = df_q.loc[df_q.descripcion == 'LA PINTA, Jugo Vegetal Sandía 1 Lt']
df_q2

#Analizo para el sabor Sandia

      cliente_id                         descripcion  quantity
2        1019362  LA PINTA, Jugo Vegetal Sandía 1 Lt         1
10       1020277  LA PINTA, Jugo Vegetal Sandía 1 Lt         1
13       1020725  LA PINTA, Jugo Vegetal Sandía 1 Lt         1
27       1020786  LA PINTA, Jugo Vegetal Sandía 1 Lt         1
45       1025990  LA PINTA, Jugo Vegetal Sandía 1 Lt         1
...          ...                                 ...       ...
4229   102742513  LA PINTA, Jugo Vegetal Sandía 1 Lt         1
4277   102766288  LA PINTA, Jugo Vegetal Sandía 1 Lt         1
4291   102785767  LA PINTA, Jugo Vegetal Sandía 1 Lt         1
4296   102786259  LA PINTA, Jugo Vegetal Sandía 1 Lt         1
4298   102791476  LA PINTA, Jugo Vegetal Sandía 1 Lt         1

[279 rows x 3 columns]

In [17]:
df_q2 = df_q2.reset_index(drop = True)
df_q2.quantity.values

array([ 1,  1,  1,  1,  1,  1,  2,  1,  2,  1,  1,  1,  1,  2,  1,  1,  2,
        2,  1,  1,  2,  2,  1,  1,  2,  2,  1,  1,  1,  1,  2,  2,  1,  1,
        1,  2,  1,  1,  1,  1,  1,  1,  2,  2,  1,  1,  1,  2,  2,  1,  1,
        1,  2,  2,  1,  1,  1,  1,  2,  1,  2,  1,  1,  1,  1,  2,  1,  1,
        1,  1,  1,  2,  1,  2,  1, 54,  1,  1,  1,  2,  2,  1,  1,  1,  1,
        1,  2,  1,  1,  1,  2,  1,  1,  1,  1,  1,  2,  2,  1,  2,  2,  1,
        2,  3,  2,  1,  1,  1,  1,  2,  2,  1,  1,  2,  2,  1,  2,  1,  1,
        1,  1,  1,  1,  2,  1,  2,  1,  1,  1,  2,  1,  1,  1,  1,  1,  2,
        2,  2,  2,  1,  1,  1,  2,  1,  2,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  2,  1,  1,  1,  1,  1,  2,  1,  1,  1,  1,
        1,  1,  1,  2,  1,  1,  1,  2,  1,  1,  1,  2,  2,  1,  2,  1,  2,
        2,  1,  1,  1,  2,  1,  2,  1,  1,  1,  1,  2,  1,  1,  1,  2,  1,
        1,  2,  1,  2,  2,  1,  1,  1,  2,  1,  2,  1,  2,  1,  2,  1,  2,
        1,  1,  1,  1,  2,  1,  1,  2,  2,  1,  1,  2,  1,  2,  1,  2,  1,
        1,  1,  2,  1,  2,  1,  2,  1,  1,  1,  1,  2,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  2,  1,  1,  1,  1,  1], dtype=int64)

In [18]:
df_q2.quantity.value_counts()

#Puedo identificar valores extraños

1     198
2      79
54      1
3       1
Name: quantity, dtype: int64

In [19]:
df_q2[df_q2.quantity == 54]

    cliente_id                         descripcion  quantity
75     1125168  LA PINTA, Jugo Vegetal Sandía 1 Lt        54

In [20]:
df_q3 = df_q.loc[df_q.descripcion == 'LA PINTA, Jugo Vegetal Plátano 1 Lt']
df_q3

#Analizo para el sabor Platano

      cliente_id                          descripcion  quantity
26       1020786  LA PINTA, Jugo Vegetal Plátano 1 Lt         1
49       1027342  LA PINTA, Jugo Vegetal Plátano 1 Lt         1
70       1029182  LA PINTA, Jugo Vegetal Plátano 1 Lt         2
83       1029553  LA PINTA, Jugo Vegetal Plátano 1 Lt         1
88       1029664  LA PINTA, Jugo Vegetal Plátano 1 Lt         2
...          ...                                  ...       ...
4255   102757078  LA PINTA, Jugo Vegetal Plátano 1 Lt         2
4266   102760909  LA PINTA, Jugo Vegetal Plátano 1 Lt         1
4294   102786259  LA PINTA, Jugo Vegetal Plátano 1 Lt         1
4295   102786259  LA PINTA, Jugo Vegetal Plátano 1 Lt       174
4297   102791476  LA PINTA, Jugo Vegetal Plátano 1 Lt         1

[266 rows x 3 columns]

In [21]:
df_q3 = df_q3.reset_index(drop = True)
df_q3.quantity.value_counts()

1      190
2       72
174      2
402      1
191      1
Name: quantity, dtype: int64

In [22]:
df_q3.quantity.values

array([  1,   1,   2,   1,   2,   1,   1,   2,   1,   1,   2,   1,   1,
         2,   1,   1,   2,   1,   2,   2,   1,   1,   1,   1,   1,   1,
         2,   2,   1,   1,   2,   1,   1,   1,   1,   1,   1,   1,   2,
         1,   1,   2,   1,   1,   1,   2,   1,   2,   1,   1,   2,   2,
         1,   2,   1,   1,   2,   1,   1,   1,   1,   1,   1,   1,   1,
         2,   2,   1,   1,   1,   1,   1,   1,   2,   2,   1,   2,   1,
         1,   1,   1,   2,   1,   1,   2,   1,   1,   1,   1,   1,   2,
         1,   2,   2,   1,   1,   1,   1,   1,   1,   2,   2,   1,   1,
         2,   1,   1,   2,   1,   1,   2,   1,   2,   1,   1,   2,   1,
         1,   1,   1,   1,   1,   2,   1,   1,   1,   1,   2,   1,   1,
         2,   2,   2,   2,   2,   2,   1,   1,   1,   2,   1,   1,   1,
         1,   1,   2,   1,   2,   1,   1,   1,   1,   1,   2,   2,   1,
         1,   1,   1,   1,   2,   1,   1,   1,   1,   1,   1,   2,   2,
         1,   1,   1,   2,   2,   1,   2,   1,   2,   1,   1,   1,   2,
         1, 174,   1, 191,   1,   1,   1,   1,   1,   1,   1, 402,   1,
         1,   1,   1,   1,   1,   2,   1,   1,   1,   2,   1,   1,   2,
         1,   1,   2,   1,   2,   1,   1,   1,   1,   2,   2,   1,   1,
         2,   2,   1,   1,   1,   2,   1,   1,   1,   2,   1,   1,   1,
         1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   1,   2,   1,
         1,   1,   1,   1,   1,   2,   1,   1,   2,   1,   1,   1,   1,
         1,   2,   1,   1, 174,   1], dtype=int64)

In [23]:
print (df_q3[df_q3.quantity == 174])
print (df_q3[df_q3.quantity == 402])
print (df_q3[df_q3.quantity == 191])

#Puedo identificar valores extraños

     cliente_id                          descripcion  quantity
183   102126738  LA PINTA, Jugo Vegetal Plátano 1 Lt       174
264   102786259  LA PINTA, Jugo Vegetal Plátano 1 Lt       174
     cliente_id                          descripcion  quantity
193   102187050  LA PINTA, Jugo Vegetal Plátano 1 Lt       402
     cliente_id                          descripcion  quantity
185   102130866  LA PINTA, Jugo Vegetal Plátano 1 Lt       191